<!DOCTYPE html>
<html>
<head>
	<title>Root</title>
</head>
<body>
<center>
	<hr>
	<a href="/login">Login</a> | <a href="/signup">SignUp</a> | <a href="/blog">Blog</a>
	<hr>
	<a href="/homepage"><h1>HomePage</h1></a>
</center>
</body>
</html>