<!DOCTYPE html>
<html>
<head>
	<title>Add Restaurant</title>
</head>
<body>

<center>
	<h1>Add Restaurant</h1>
	<form method="POST">
		<table>
		<tr>
			<td>Name: </td>
			<td><input type="text" name="name"></td>
		</tr>
		<tr>
			<td>Location: </td>
			<td><input type="text" name="loc"></td>
		</tr>
		<tr>
			<td>Short background: </td>
			<td><textarea name="sb"></textarea></td>
		</tr>
		<tr>
			<td><input type="submit" name="submit" value="Add"></td>
		</tr>
	</table>
	</form>
</center>
</body>
</html>