<!DOCTYPE html>
<html>
<head>
	<title>HomePage</title>
</head>
<body>
	<center><H1>Welcome to Homepage</H1></center>
	Search : <input type="text" name="search" align="right">  [ Filter <select>
		<option value="">Select</option>
		<option value="location">Location</option>
		<option value="restaurant">Restaurant</option>
		<option value="food">Food</option>
		<option value="type">Food type</option>
	</select>

	<hr>

	<div id="data">
		
	</div>

</body>
</html>